body{
    margin: 0;
    background-color: #8f57fd;
    font-family: 'Ruluko', sans-serif;
}
/*Estilos del header */
.header{
    width: 100%;
    height: 70px;
    background-color: #8f57fd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__img{
    width: 200px;
    margin: 5px;
}

.header__menu{
    margin-top: 10px;
    margin-right: 70px;
    align-items: center;
}

.header__menu ul {
    display: none;
    list-style: none; /*quitarle el estilo a los items de la lista*/
    padding: 0px;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0px 0px 0px -5px;
}

/*efecto del menu*/
.header__menu:hover ul, ul:hover{
    display: block;
}

.header__menu li{
    margin: 10px 0px;
}

.header__menu li a{
    color: white;
    text-decoration: none;
}

/*se le agrega la decoracion a los elementos cuando se hace hover*/
.header__menu li a:hover{
    text-decoration: underline;
}

.header__menu--profile{
    margin-right: 8px;
    width: 40px;
    display: flex;
}

.header__menu--profile img{
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.header__menu--profile p{
    margin-bottom: 0px;
    color: white;
}
/*Fin estilos del header*/
/*inicio de la seccion main*/
.main{
    height: 200px;
}

.main__title{
    color: white;
    font-size: 25px;
}

.input{
    background-color: rgba(255, 255, 255, 0.05);
    border: 2px solid white;
    border-radius: 24px;
    color: white;
    font-family: 'Ruluko', sans-serif;
    font-size: 16px;
    padding: 0px 15px;
    height: 40px;
    width: 70%;
    outline: none;
}

::placeholder{
    color: white;
}

.input:hover{
    box-shadow: 0 2px 6px 0 #20212447;
    border-color: #dfe1e500;
}
/*fin de la seccion main*/
/*inicio de la seccion del carrucel*/
.carrousel{
    width: 100%;
    overflow: scroll;
    padding-left: 30px;
    position: relative;
}

.carrousel__container{
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px;
}

.carrousel-item{
    background: black;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
}

.carrousel-item:hover ~ .carrousel-item{
    transform: translate3d(100px, 0, 0);
}

.carrousel__container:hover .carrousel-item{
    opacity: 0.3;
}

.carrousel__container:hover .carrousel-item:hover{
    transform: scale(1.5);
    opacity: 1;
}
/*fin de la seccion del carrucel*/
/*inicio de los items del carrucel*/
.carrousel-item__img{
    height: 250px;
    width: 200px;
    object-fit: cover; /*imagen toma su tamaño*/
}

.carrousel-item__details{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    font-size: 10px;
    opacity: 1;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
/*fin de los items del carrucel*/